layout {
  cwd "/home/max/git/notes"
  tab focus=true name="Notes" hide_floating_panes=true {
    pane command="bash" cwd="/home/max/git/notes" {
      start_suspended false
      args "-c" "direnv exec . nvim ./entry.md"
    }
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
    floating_panes {
      pane command="bash" cwd="/home/max/git/notes" {
        height 42
        width 173
        x 10
        y 1
      }
    }
  }
  tab hide_floating_panes=true {
    pane cwd="/home/max/git/notes"
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
  new_tab_template {
    pane cwd="/home/max/git/notes"
    pane size=1 borderless=true {
      plugin location="zellij:compact-bar"
    }
  }
}

